body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--bg-color);
    color: var(--text-color);
    position: relative;
    z-index: 1; /* Ensure body content is above the top-banner */
}

:root {
    --bg-color: #edf2f4;
    --text-color: #352d27;
    --header-bg-color: #d9d9d9;
    --header-link-color: black;
}

body.dark-mode {
    --bg-color: #2b2d42;
    --text-color: #edf2f4;
    --header-bg-color: #8d99ae;
    --header-link-color: #edf2f4;
}

.top-banner {
    display: flex;
    background-color: #edf2f4;
    align-items: center;
    height: 100px;
    position: relative;
    z-index: 0; /* Ensure top-banner is below the body content */
}

.logo-container {
    overflow: hidden;
    height: 80px; /* Adjust height to crop top and bottom */
    margin: 10px 0; /* Centers the cropped logo within the banner */
}

.logo-left {
     /* Original height of the logo */
    width: auto;
    transform: translateY(-5px); /* Moves the logo up a bit to crop */
}

header {
    background-color: var(--header-bg-color);
    padding: 10px 0;
    text-align: center;
    position: relative;
    z-index: 9999; /* Ensures header is above everything else */
}

header nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

header nav a {
    color: var(--header-link-color);
    margin: 0 15px;
    text-decoration: none;
    font-size: 18px;
}

header nav a:hover {
    text-decoration: underline;
}

/* Toggle Switch CSS */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    margin-left: 15px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: .4s;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:checked + .slider:before {
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.content {
    padding: 20px;
    position: relative;
    z-index: 1; /* Ensure content is above the top-banner */
}

section {
    position: relative;
    z-index: 1; /* Ensure sections are above the top-banner */
}

.question {
    text-align: center;
    margin-bottom: 20px;
}

.question p {
    font-size: 20px;
    margin-bottom: 10px;
}

.options {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.option_eens {
    display: block;
    width: 200px; /* Adjust width as needed */
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 10px;
    cursor: pointer;
}

.option:hover {
    background-color: #f0f0f0;
}

.option input {
    margin-right: 5px;
}