body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--bg-color);
    color: var(--text-color);
    position: relative;
    z-index: 1; /* Ensure body content is above the top-banner */
}

/* Root Variables for Light and Dark Modes */
:root {
    --bg-color: #edf2f4;
    --text-color: #352d27;
    --header-bg-color: #d9d9d9;
    --header-link-color: black;
}

body.dark-mode {
    --bg-color: #2b2d42;
    --text-color: #edf2f4;
    --header-bg-color: #8d99ae;
    --header-link-color: #edf2f4;
}

/* Logo Styles */
.logo-left {
    height: 350px;
    background: #edf2f4;
    clip-path: inset(220px 0px 220px 0px);
    width: auto;
    transform: translateY(-125px);
}

.top-banner {
    background-color: #edf2f4;
    height: 100px;
}

header {
    background-color: var(--header-bg-color);
    padding: 10px 0;
    text-align: center;
    position: relative;
    z-index: 9999; /* Ensures header is above everything else */
}

header nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

header nav a {
    color: var(--header-link-color);
    margin: 0 15px;
    text-decoration: none;
    font-size: 18px;
}

header nav a:hover {
    text-decoration: underline;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    margin-left: 15px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: .4s;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:checked + .slider:before {
    transform: translateX(26px);
}

/* Rounded Slider Styles */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}


@media (max-width: 768px) {

    .Ons_txt {
        width: 95%;
        padding: 10px;
    }

    header nav a {
        font-size: 16px;
        margin: 0 10px;
    }

    .container {
        width: 100%;
        padding: 10px;
    }

    input[type="submit"] {
        width: 100%;
    }
}

/* Table Styling */
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}

.page-title {
    margin-bottom: 20px;
    font-size: 28px;
}

.party-table {
    width: 100%;
    border-collapse: collapse;
    margin: 0 auto;
}

.party-table th,
.party-table td {
    border: 1px solid var(--text-color);
    padding: 10px;
    text-align: center;
}

.party-table th {
    background-color: var(--header-bg-color);
}

.party-table td a {
    color: var(--header-link-color);
    text-decoration: none;
}

.party-table td a:hover {
    text-decoration: underline;
}

.question {
    text-align: center;
    margin-bottom: 20px;
}

.question p {
    font-size: 20px;
    margin-bottom: 10px;
}

.options {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.option {
    width: 200px;
    height: 100px;
    border-radius: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    cursor: pointer;
}

.eens {
    background-color: #00FF00;
}

.oneens {
    background-color: #FF0000;
}

.weetniet {
    background-color: #808080;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="submit"] {
    background: #452323;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: block;
    margin: 0 auto; /* This centers the button horizontally */
}

/* Navigation Blocks */
.navigation-blocks {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}

.block {
    background-color: var(--bg-color);
    border: 1px solid var(--text-color);
    border-radius: 10px;
    width: 200px;
    padding: 20px;
    text-align: center;
}

.block h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.block p {
    font-size: 16px;
    margin-bottom: 15px;
}

.block button {
    background-color: var(--header-bg-color);
    color: var(--header-link-color);
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

.block button:hover {
    background-color: var(--header-link-color);
    color: var(--header-bg-color);
}

.Ons_txt {
    width: 60%;
    margin: 30px auto 20px; /* Adjusted margin to move it down and provide bottom margin */
    margin-left: 40px;
}

.error {
    color: red;
    font-weight: bold;
}

.success {
    color: green;
    font-weight: bold;
}
